.DS_Store
data/source_data/SILVA_138.1_SSURef_NR99_tax_silva.fasta
data/source_data/uniref_length_6_TO_40_AND_identity_0_2024_01_10.fasta
data/source_data/manual_collection.fasta
data/source_data/arb-silva.de_2024-01-11_id1296950_tax_silva_trunc.fasta
.ipynb_checkpoints/DataForBaseline-checkpoint.ipynb
